# Base16 {{scheme-name}} - spicetify color config
# Scheme by {{scheme-author}}
[Base]
text               = {{base05-hex}} 
subtext            = {{base07-hex}} 
sidebar-text       = {{base07-hex}}
main               = {{base00-hex}} 
sidebar            = {{base00-hex}} 
player             = {{base00-hex}} 
card               = {{base00-hex}} 
shadow             = {{base00-hex}}
selected-row       = {{base03-hex}} 
button             = {{base0C-hex}} 
button-active      = {{base0C-hex}}
button-disabled    = {{base01-hex}}
tab-active         = {{base0C-hex}} 
notification       = {{base0E-hex}}
notification-error = {{base08-hex}}
misc               = {{base09-hex}}
